@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Bemio';
	src: url('webfonts/Bemio.otf') format('OpenType');
}
@font-face {
	font-family: 'helvetica';
	src: url('webfonts/HELR45W.ttf') format('TrueType');
}

/************Home.html and template styles*****************/
body,html{
	background-color: #e5e5e7;
    margin:0;
    padding:0;
}

#wrapper{	
	width: 100%;	
}

#nav{
	background-color: #455087;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 17%;	
}

#nav img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 5vw;
	width: 97%;
}

#nav .item{
	
}

#nav .item a{
	color:white;
	display: block;
	font-family: Bemio;
	font-size: 2.1vw;
	height: 4vw;
	line-height: 4vw;
	text-align: center;	
	text-decoration: none;
	width: 100%;
}
.navGlow{
	background-color: #ffc312;
	float: right;
	height: 4vw;
	visibility:hidden;
	width: 2%;
}
.current{
	background-color: #343c66;
	float: left;
	width: 100%;
}

.current > .navGlow{
	visibility: visible;
}

#nav .item a:hover > .navGlow{
	visibility: visible;
}

#nav .item a:hover:not(.current){
	font-size: 2.2vw;
}

#search{	
	background-color: #161a2f;
	display: block;
	height: 3.5vw;
    margin: 0 auto 0 16%;
	width:84%;
}

#search img{
	margin-left: auto;
	margin-right: auto;
}

#dashboard{		
	margin-left: 18%;
	margin-right: 2%;
	width: auto; 
}

#dashboard img{
	height:20vw;
	width:100%;
}

.header{	
	background-color: #bcbdc1;
	color: white;
	font-family: helvetica; 
	height: 2.5vw;
	font-size: 1.5vw;
	line-height: 2.5vw;	
	text-indent: 1%;
	text-shadow: .1vw .1vw .1vw black;
	width: 100%;
}

/****Top left graph****/
#dash1{
	display: inline-block;
	height: 24vw;
	width: 49.7%;	
}

.graph1{
	float:left;
	height:100%;
	width:100%;
}

/****Top right graph****/
#dash2{
	display: inline-block;
	height: 24vw;
	width: 49.7%;	
}

.graph2{
	float:right;
	height:100%;
	width:100%;
}

#dash1 .header, #dash2 .header{
	background-color: #343c66;
	color: white;
	font-family: helvetica; 
	height: 2.5vw;
	font-size: 1.5vw;
	line-height: 2.5vw;	
	text-indent: 1%;
	text-shadow: .1vw .1vw .1vw black;
	width: 100%;
}

#dash3{	
	display: inline-block;
	height: 24vw;
	width: 49.8%;
}
.graph3{
	height:100%;
	margin-top:-.85vw;
	margin-left:-.84vw;
	width:104.5%;
}
#dash4{
	display: inline-block;
	float:right;
	height: 23vw;
	width: 49.8%;
}

.graph4{
	float:right;
	height:100%;
	width:100%;
}


/************Reports.html styles*****************/
.grid{
	display:grid;
	float:right;
	grid-template-columns: 30% 30% 30%;
	width: 76%;
}

.grid a{
	text-decoration: none;
}

.grid > div{
	background-color: #ffc312;	
	height: 18.8vw;
	margin:2vw;	
	text-decoration: none;
	vertical-align: middle;
}

.grid > div:hover{
	background-color: #f3b500;	
	height: 18.8vw;
	margin:2vw;	
	text-decoration: none;
	vertical-align: middle;
}

.grid div a img{
	width:100%;
	padding-right:1%;
	vertical-align: middle;	
}


.reportText{		
	position: relative;
	margin-left:auto;
	margin-right:auto;
	top: -28%;
	text-align: center;		
	width:80%;   
}

.reportText a{
	color:white;
	font-family: 'helvetica';
	font-size: 1.05vw;
	font-weight: bold;
	display: block;	
}



/************Report.html styles*****************/

#allIncidents {
	float:right;
	margin:1% 1% 1% 1%;
	width:81%;
}
